/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-carousel-item {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.carousel-item {

	height: 100%;
	width: 100%;
	min-height: inherit;

	//Make normal images act like 'cover'
	figure.wp-block-image {
		position: relative;
		height: 100%;
    	width: 100%;
		overflow: hidden;

		min-height: inherit;

		//Make normal images act like 'cover'
		img {
			box-sizing: border-box;
			margin: auto;
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			width: auto;
			min-width: 100%;
			min-height: 100%;
			max-width: unset;
		}

	}


}
